// Animations
@include keyframes(slideIn) {

    0% { 

        opacity: 0;
        @include transform(scale(0.85)); 

    }

    70% { 

        opacity: 1;
        @include transform(scale(1.03)); 

    }

    100% {

        @include transform(scale(1)); 

    }

}

@include keyframes(slideOut) {

    from { 

        opacity: 1;

    }

    to { 

        opacity: 0;

    }

}